body, html{
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: rgb(245,245,245);
}

.angular-google-map-container { 
  height: 500px; 
  width: 100%;
}

.list {
  height: 900px;
  overflow: scroll;

}

