<div class="freeContainer">
  <div ng-controller="getDataController" style="background-color: rgb(192,192,192,192);" >
    <!-- <button ng-click="getLocation(getFreePlaces)">getFree</button> -->
    <table class="table table-striped table-hover span5 center-table">
      <tr ng-repeat="object in data.filteredItems">
        <td class="col-md-8"><a href = "{{ object.href }}"> {{ object.name }} </a></td>
        <td class="col-md-4">{{ object.walkingDistance }} {{ object.walkingTime }}</td>
      </tr>
    </table>
  </div>
</div>